*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


.gif_image{
    display: flex;
    margin: 20px auto;
    width: 20vw;
}
/* .container{
    display: flex;
    border: solid red 2px;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background: #8A51FC ;
    
     
}
 */
body{
    border: none;
    background: #8A51FC ;
}

main{
    background-color: white;
    border-radius: 5px;
    border: solid;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30vw;
    align-items: center;
    align-content: center;
    padding: 20px;
    margin: 20px auto;
    height: 85vh;

}

button{
    background-color: #772FD3;
    width: 10vw;
    height: 5vh;
    border-radius: 10px
}